/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

/* Variables */
:root {
  --color-red: hsl(0, 100%, 68%);
  --color-red-light: hsla(0, 100%, 68%, 0.678);
  --color-very-dark-blue: hsl(230, 29%, 20%);
  --color-dark-grayish-blue: hsl(230, 11%, 40%);
  --color-grayish-blue: hsl(231, 7%, 65%);
  --color-light-grayish-blue: hsl(207, 33%, 95%);

  --font-family-normal: 'Barlow', sans-serif;
  --font-family-heading: 'Barlow Condensed', sans-serif;

  --font-weight-normal: 400;
  --font-weight-heading: 400;
  --font-weight-heading-bold: 700;

  --font-size-normal: 18px;

  --time-transition: 0.2s;
}

/* CSS Reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: var(--font-family-normal);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
}

/* Body Size */
body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* Containers */
.container {
  width: 90%;
  margin: 0px auto;
}

/* Header */
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: transparent;
}

header .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px auto;
  grid-template-areas: 'image toggle' 'nav nav';
}

header img {
  grid-area: image;
  align-self: center;
  justify-self: start;
}

header button {
  display: block;
  grid-area: toggle;
  align-self: center;
  justify-self: end;

  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url('../img/icon-hamburger.svg');
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  border: none;
  transition-property: background-image;
  transition-duration: var(--time-transition);
}

header button:focus {
  outline: none;
}

header.toggled button {
  background-image: url('../img/icon-close.svg');
}

header nav {
  grid-area: nav;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition: var(--time-transition);
}

header nav a {
  display: block;
  width: 90%;
  margin: 0px auto;
  padding: 12px 0px;
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading-bold);
  font-size: 0.9em;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--color-very-dark-blue);
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  padding-top: 24px;
}

header nav a:nth-child(3) {
  padding-bottom: 24px;
}

header nav .separator {
  display: none;
  width: 8px;
  height: 8px;
  margin: 0px 12px;
  margin-bottom: 2px;
  background-color: var(--color-grayish-blue);
  border-radius: 50%;
}

header nav a#login {
  padding: 24px 0px;
  border-top: 1px solid var(--color-light-grayish-blue);
  color: var(--color-grayish-blue);
}

header.toggled nav {
  visibility: visible;
  opacity: 1;
}

main {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 'hero hero' 'caption caption';
}

main .fm-background {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  background-color: var(--color-light-grayish-blue);
  border-radius: 0px 0px 0px 64px;
}

main img {
  grid-area: hero;
  align-self: end;
  width: 138%;
  padding-bottom: 48px;
}

main .fm-hero-caption {
  grid-area: caption;
  padding: 32px 0px;
}

main .fm-hero-caption .fm-badges {
  font-size: 0.8em;
}

main .fm-hero-caption .fm-badges span {
  font-size: inherit;
  display: inline-block;
  padding: 4px 12px;
  letter-spacing: 0.3em;
  font-family: var(--font-family-heading);
  color: var(--color-grayish-blue);
}

main .fm-hero-caption .fm-badges #new {
  background-color: var(--color-very-dark-blue);
  border-radius: 16px;
  color: var(--color-light-grayish-blue);
  font-weight: var(--font-weight-heading-bold);
  letter-spacing: 0.1em;
}

main .fm-hero-caption h1 {
  padding: 16px 0px;
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading-bold);
  font-size: 2em; 
  line-height: 1em;
  color: var(--color-very-dark-blue);
}

main .fm-hero-caption p {
  text-transform: none;
  color: var(--color-dark-grayish-blue);
  line-height: 1.3em;
}

main .fm-call-to-action {
  padding: 16px 0px;
}

main .fm-call-to-action a {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 12px;
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading-bold);
  font-size: 0.7em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: var(--color-light-grayish-blue);
  background-color: var(--color-red);
  border-radius: 8px;
  transition: var(--time-transition);
}

main .fm-call-to-action a:hover {
  background-color: var(--color-red-light);
}

main .fm-call-to-action p {
  display: inline-block;
  font-family: var(--font-family-heading);
  font-size: 0.7em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@media (min-width: 375px) {
  main img {
    width: auto;
    height: 300px;
  }
}

@media (min-width: 536px) {
  main img {
    justify-self: end;
  }
}

@media (min-width: 800px) {
  .container {
    width: 90%;
  }

  header .container {
    grid-template-rows: 120px;
    grid-template-areas: 'image nav';
  }

  header button {
    display: none;
  }

  header nav {
    align-self: center;
    justify-self: end;
    visibility: visible;
    opacity: 1;
    width: auto;
    background-color: transparent;
    box-shadow: none;
  }

  header nav a {
    display: inline-block;
    width: auto;
    margin: 0px 8px;
    padding: 0px;
  }

  header nav a:first-child,
  header nav a:nth-child(3) {
    padding: 0px;
  }

  header nav a:first-child {
    margin-left: 0px;
  }

  header nav a#login {
    margin-right: 0px;
    padding: 0px;
    border: none;
  }

  header nav .separator {
    display: inline-block;
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'caption hero' 'caption hero';

    width: calc(100vw - 5%);
    margin-left: calc(100vw - 95%);
  }

  main .container {
    width: 100%;
  }

  main img {
    justify-self: auto;
    align-self: center;
    width: 138%;
    height: auto;
    padding-bottom: 0px;
  }

  main .fm-hero-caption {
    align-self: center;
  }

  main .fm-hero-caption h1 {
    padding-bottom: 24px;
    font-size: 3.2em;
  }

  main .fm-call-to-action {
    padding-top: 48px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 80%;
  }

  main {
    width: calc(100vw - 10%);
    margin-left: calc(100vw - 90%);
  }

  main .container {
    width: 100%;
  }

  header nav a {
    margin: 0px 12px;
  }
}